/Pruebas_Nati/TextFinderv1/nbproject/private/
/Desorden de Jose/ReadingTxt/nbproject/private/
/Desorden de Jose/ReadPDf/nbproject/private/
/Desorden de Jose/ReadPDf/dist/
/Desorden de Jose/ReadPDf/bui
/Pruebas_Nati/TextFinderv1/build/
/Desorden de Jose/QuickSort/nbproject/private/
/Desorden de Jose/QuickSort/build/